/* Default Styling (with some tweaks since i needed to override stuff)*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #230033;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #8101bc;
  text-decoration: inherit;
}
a:hover {
  color: #8101bc;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#3b3b3b;
  border: 1px solid #ccc;
  cursor: pointer;

}
button:hover {
  background-color: #8101bc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    background-color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* my css i added */

body {
  background-color: #230033;
}

.app-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;

  background: rgb(30, 30, 30);
  border-radius: 10px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.app-container h1,
.app-container h2 {
  text-align: center;
}
.app-container input {
  width: 100%;
  padding: 10px;
  margin: 12.5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.app-container input:hover {
  background-color:#8101bc ;
}

.app-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.app-container button {
  display: block;
  margin-top: 10px;
}

.app-container .add-btn {
  margin: 15px auto;
}

.app-container a {
  display: inline-block;
  margin-top: 10px;
}

.app-container ul {
  list-style: none;
  padding: 0;
}

.app-container li {
  background: white;
  color: black;
  margin: 10px 0;
  padding: 14px 16px;
  border-radius: 6px;
  padding-bottom:1.5rem;
}
.app-container li:hover {
  background-color:#8101bc ;
  color: white;
}

.app-container li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.app-container .top-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.app-container .top-bar input {
  flex: 1;
}

.app-container .top-bar button {
  margin: 0;
  padding: 10px 16px;
}

.details-container {
  text-align: center;
}

.details-container button {
  margin: 10px auto;
}